@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-18">İstatistikler</h4>

                </div>
            </div>
        </div>
        <!-- end page title -->
        @await Component.InvokeAsync("_AdminDashboardStatisticsComponentPartial")
        

        <!-- end row -->
        <div class="row">
            @await Component.InvokeAsync("_AdminDashboardChart1ComponentPartial")

            @await Component.InvokeAsync("_AdminDashboardChart2ComponentPartial")

            @await Component.InvokeAsync("_AdminDashboardChart3ComponentPartial")
            
          
        </div>
        
        
        <!-- end row-->


        <div class="row">
            @await Component.InvokeAsync("_AdminDashboardCarPricingListComponentPartial")
            
             <!-- end col -->

             <!-- end col -->
            @await Component.InvokeAsync("_AdminDashboardBlogListComponentPartial")
        </div>

    </div> <!-- container-fluid -->
    <!-- End Page-content -->




</div>

<script src="~/Admin/vertical/assets/js/jquery.min.js"></script>
<script src="~/Admin/vertical/assets/js/bootstrap.bundle.min.js"></script>
<script src="~/Admin/vertical/assets/js/metismenu.min.js"></script>
<script src="~/Admin/vertical/assets/js/waves.js"></script>
<script src="~/Admin/vertical/assets/js/simplebar.min.js"></script>

<!-- Morris Js-->
<script src="~/Admin/plugins/morris-js/morris.min.js"></script>
<!-- Raphael Js-->
<script src="~/Admin/plugins/raphael/raphael.min.js"></script>

<!-- Morris Custom Js-->
<script src="~/Admin/vertical/assets/pages/dashboard-demo.js"></script>

<!-- App js -->
<script src="~/Admin/vertical/assets/js/theme.js"></script>