

<div class="comment-form-wrap pt-5">
    <h3 class="mb-5">Yorum Yapın</h3>
    <form method="post" asp-action="AddComment" asp-controller="Blog" class="p-5 bg-light">
        <div class="form-group">
            <label for="name">Adınız Soyadınız</label>
            <input type="text" Name="Name" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="email">Yorumunuz</label>
            <input type="text" Name="Description" class="form-control" id="email">
        </div>
        <div class="form-group">
            <input type="hidden" readonly value="@ViewBag.blogid" name="BlogID" class="form-control" id="email">
        </div>


        <div class="form-group">
            <input type="submit" value="Yorum Yap" class="btn py-3 px-4 btn-primary">
        </div>

    </form>
</div>
