@model CreateCarDto
@{
    ViewData["Title"] = "CreateCar";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Yeni Araç Girişi</h4>
                        <p class="card-subtitle mb-4">Araç ile ilgili temel bilgileri eksiksiz doldurmanız önemlidir.</p>

                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Marka</label>

                                @Html.DropDownListFor(x => x.BrandID, (List<SelectListItem>)ViewBag.BrandValues,new {@class="form-control"})

                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputModel">Model</label>
                                <input type="password" class="form-control" id="exampleInputModel" placeholder="Şifreniz">
                            </div>
                            <div class="form-group mb-3">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkmeout0">
                                    <label class="custom-control-label" for="checkmeout0">Check me out !</label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                        </form>

                    </div> <!-- end card-body-->
                </div>
                <!-- end card -->

            </div>

        </div>
        <!-- end page title -->

    </div> <!-- container-fluid -->
</div>



