@model CreateCarDto
@{
    ViewData["Title"] = "CreateCar";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Yeni Araç Girişi</h4>
                        <p class="card-subtitle mb-4">Araç ile ilgili temel bilgileri eksiksiz doldurmanız önemlidir.</p>

                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputBrand">Marka</label>

                                @Html.DropDownListFor(x => x.BrandID, (List<SelectListItem>)ViewBag.BrandValues,new {@class="form-control"})

                            </div>

                           

                             <div class="form-group">
                                <label for="exampleInputModel">Model</label>
                                <input type="text" class="form-control" id="exampleInputModel" asp-for="Model" placeholder="Model Girişi Yapınız">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputCoverImage">Kapak Fotoğrafı</label>
                                <input type="text" class="form-control" id="exampleInputCoverImage" asp-for="CoverImageUrl" placeholder="Kapak Fotoğrafı Giriniz">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputKm">Km</label>
                                <input type="text" class="form-control" id="exampleInputKm" asp-for="Km" placeholder="Km Girişi Yapınız">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputTransmission">Vites</label>
                                <input type="text" class="form-control" id="exampleInputTransmission" asp-for="Transmission" placeholder="Vites Girişi Yapınız">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputSeat">Koltuk</label>
                                <input type="number" class="form-control" id="exampleInputSeat" asp-for="Seat" placeholder="Koltuk Sayısı Girişi Yapınız">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputLuggage">Bagaj</label>
                                <input type="number" class="form-control" id="exampleInputLuggage" asp-for="Luggage" placeholder="Bagaj Giriniz">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputFuel">Yakıt</label>
                                <input type="text" class="form-control" id="exampleInputFuel" asp-for="Fuel" placeholder="Yakıt Türü Giriniz">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputBigImageUrl">Fotoğraf</label>
                                <input type="text" class="form-control" id="exampleInputBigImageUrl" asp-for="BigImageUrl" placeholder="Fotoğraf Giriniz">
                            </div>

                            <button type="submit" class="btn btn-primary waves-effect waves-light">Aracı Kaydet</button>
                        </form>

                    </div> <!-- end card-body-->
                </div>
                <!-- end card -->

            </div>

        </div>
        <!-- end page title -->

    </div> <!-- container-fluid -->
</div>



