@model CreateAuthorDto
@{
    ViewData["Title"] = "CreateAuthor";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Yeni Hakkımızda Girişi</h4>
                        <p class="card-subtitle mb-4">Yazar ile ilgili temel özellikleri eksiksiz doldurmanız önemlidir.</p>

                        <form method="post">



                            <div class="form-group">
                                <label for="exampleInputName">İsim</label>
                                <input type="text" class="form-control" id="exampleInputName" asp-for="Name" placeholder="İsim Girişi Yapınız">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputDescription">Açıklama</label>
                                <input type="text" class="form-control" id="exampleInputDescription" asp-for="Description" placeholder="Açıklama Yapınız">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputImageUrl">Resim Url</label>
                                <input type="text" class="form-control" id="exampleInputImageUrl" asp-for="ImageUrl" placeholder="Resim Url Girişi Yapınız">
                            </div>




                            <button type="submit" class="btn btn-primary waves-effect waves-light">Yazar Kaydet</button>
                        </form>

                    </div> <!-- end card-body-->
                </div>
                <!-- end card -->

            </div>

        </div>
        <!-- end page title -->

    </div> <!-- container-fluid -->
</div>



