@model UpdateBannerDto
@{
    ViewData["Title"] = "UpdateBanner";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Banner Güncelleme</h4>
                        <p class="card-subtitle mb-4">Banner ile ilgili temel özellikleri eksiksiz doldurmanız önemlidir.</p>

                        <form method="post">


                            <input type="hidden" asp-for="BannerID" />
                            <div class="form-group">
                                <label for="exampleInputTitle">Başlık İsmi</label>
                                <input type="text" class="form-control" id="exampleInputTitle" asp-for="Title" placeholder="Başlık Girişi Yapınız">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputDescription">Açıklama</label>
                                <input type="text" class="form-control" id="exampleInputDescription" asp-for="Description" placeholder="Açıklama Yapınız">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputVideoDescription">Video Açıklaması</label>
                                <input type="text" class="form-control" id="exampleInputVideoDescription" asp-for="VideoDescription" placeholder="Video Açıklama Girişi Yapınız">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputVideoUrl">Video Url</label>
                                <input type="text" class="form-control" id="exampleInputVideoUrl" asp-for="VideoUrl" placeholder="Video Url Girişi Yapınız">
                            </div>


                            <button type="submit" class="btn btn-primary waves-effect waves-light">Banner Kaydet</button>
                        </form>

                    </div> <!-- end card-body-->
                </div>
                <!-- end card -->

            </div>

        </div>
        <!-- end page title -->

    </div> <!-- container-fluid -->
</div>


