@model UpdateFeatureDto
@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Özellik güncelleme Girişi</h4>
                        <p class="card-subtitle mb-4">Araç ile ilgili temel özellikleri eksiksiz doldurmanız önemlidir.</p>

                        <form method="post">


                            <input type="hidden" asp-for="FeatureID"/>
                            <div class="form-group">
                                <label for="exampleInputName">Özellik İsmi</label>
                                <input type="text" class="form-control" id="exampleInputName" asp-for="Name" placeholder="Özellik Girişi Yapınız">
                            </div>



                            <button type="submit" class="btn btn-primary waves-effect waves-light">Özelliği Kaydet</button>
                        </form>

                    </div> <!-- end card-body-->
                </div>
                <!-- end card -->

            </div>

        </div>
        <!-- end page title -->

    </div> <!-- container-fluid -->
</div>

